@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@plugin "daisyui";


/* styles/theme.css */
.theme-container {
  @apply min-h-screen bg-[#ffffff] dark:bg-[#0a0a0a] text-[#171717] dark:text-[#ededed] transition-colors duration-300 mt-[82px];
}


.c-button{
  @apply bg-gradient-to-r from-[#6366f1] to-[#8b5cf6] text-white font-semibold py-2 px-4 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300;
}




.dark .c-button {
  @apply from-[#07052c] to-[#301858] text-black shadow-lg hover:shadow-xl;
}





/* new style */
body {
  background: #ffffff;
  color: #171717;
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark body {
  background-color: #0a0a0a;
  color: #ededed;
}



.logo-gradient {
  background: linear-gradient(135deg, #ff3898, #00ff8c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  animation: gradient-shift 3s ease-in-out infinite alternate;
}


.dark .logo-gradient {
  background: linear-gradient(135deg, #1df07c, #db2222);
}